﻿
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/demo/favicon.png">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Buyherdinner | Login</title>
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600%7CRoboto:400" rel="stylesheet" type="text/css">
    <link href="assets/vendors/material-icons/material-icons.css" rel="stylesheet" type="text/css">
    <link href="assets/vendors/mono-social-icons/monosocialiconsfont.css" rel="stylesheet" type="text/css">
    <link href="assets/vendors/feather-icons/feather.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.7.0/css/perfect-scrollbar.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/style.css" rel="stylesheet" type="text/css">
    <!-- Head Libs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <style>
        .logo {
            font-family: 'Satisfy', cursive;
            color: #eb1692;
        }
    </style>
</head>

<body class="body-bg-full profile-page" style="background-image: url(../../Content/assets/img/site-bg.jpg)">
    <div id="wrapper" class="row wrapper">
        <div class="container-min-full-height d-flex justify-content-center align-items-center">
            <div class="login-center">
                <div class="navbar-header text-center mt-2 mb-4">
                    <h1 class="logo">Buyherdinner</h1>
                </div>
                @if (ViewBag.error!=null)
                {
                    <p class="alert alert-danger">@ViewBag.error</p>
                }
                <!-- /.navbar-header -->
                <form action="@Url.Action("PostLogin","Auth")" method="post">
                    <div class="form-group">
                        <label for="example-email">Email</label>
                        <input type="email" placeholder="johndoe@site.com" class="form-control form-control-line" name="Email" id="example-email" required>
                    </div>
                    <div class="form-group">
                        <label for="example-password">Password</label>
                        <input type="password" placeholder="password" id="example-password" name="Password" class="form-control form-control-line" required>
                    </div>

                    <div class="form-group no-gutters mb-0">
                        <div class="col-md-12 d-flex">
                            <div class="checkbox checkbox-primary mr-auto mr-0-rtl ml-auto-rtl">
                                @*<label class="d-flex">
                                        <input type="checkbox"> <span class="label-text">Remember me</span>
                                    </label>*@
                            </div><a href="javascript:void(0)" id="to-recover" class="my-auto pb-2 text-right"><i class="material-icons mr-2 fs-18"></i> Forgot Password?</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-block btn-lg btn-primary text-uppercase fs-12 fw-600" type="submit">Login</button>
                    </div>
                    <!-- /.form-group -->
                </form>
                <!-- /.form-material -->
                @*<hr>
                    <div class="row btn-list">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-block btn-facebook ripple" data-toggle="tooltip" data-placement="top" title="Login with Facebook"><i class="social-icons list-icon">facebook</i> facebook</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-block btn-googleplus ripple" data-toggle="tooltip" data-placement="top" title="Login with Google"><i class="social-icons list-icon">googleplus</i> google</button>
                        </div>
                    </div>*@
                <!-- /.btn-list -->
                <footer class="col-sm-12 text-center">
                    <hr>
                    <p>
                        Don't have an account? <a href="@Url.Action("Register","Auth")" class="text-primary m-l-5"><b>Sign Up</b></a>
                    </p>
                </footer>
            </div>
            <!-- /.login-center -->
        </div>
        <!-- /.d-flex -->
    </div>
    <!-- /.body-container -->
    <!-- Scripts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/material-design.js"></script>
</body>

</html>
