﻿

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/assets/demo/favicon.png">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Buyherdinner | Register</title>
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600%7CRoboto:400" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/vendors/material-icons/material-icons.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/vendors/mono-social-icons/monosocialiconsfont.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/vendors/feather-icons/feather.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.7.0/css/perfect-scrollbar.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/style.css" rel="stylesheet" type="text/css">
    <!-- Head Libs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <style>
        .logo {
            font-family: 'Satisfy', cursive;
            color: #eb1692;
        }
    </style>
</head>

<body class="body-bg-full profile-page" style="background-image: url(../../Content/assets/img/site-bg.jpg)">
    <div id="wrapper" class="row wrapper">
        <div class="col-10 ml-sm-auto col-sm-8 col-md-4 ml-md-auto login-center mx-auto">
            <div class="navbar-header text-center mt-2 mb-4">
                <h1 class="logo">Buyherdinner</h1>
            </div>
            <!-- /.navbar-header -->
            <h5><a href="javascript:void(0);">Sign Up</a></h5>
            @*<p>Signing up is easy. It only takes a few steps and you'll be up and running in no time.</p>*@
            <form id="loginform" action="@Url.Action("PostRegister","Auth")" method="post">
                <div class="form-group">
                    <label>First Name</label>
                    <input class="form-control" type="text" required="" name="FirstName" placeholder="Enter first name">
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input class="form-control" type="text" required="" name="LastName" placeholder="Enter last name">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" type="text" required="" name="Email" placeholder="Enter your email">
                </div>
                <div class="form-group">
                    <label>Phone</label>
                    <input class="form-control" type="text" required="" name="Phone" placeholder="Enter your phone number">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" type="password" required="" name="Password" placeholder="Enter your password">
                </div>
                @*<div class="form-group no-gutters mb-3">
            <div class="checkbox checkbox-primary">
                <label>
                    <input type="checkbox"> <span class="label-text">I agree to all <a href="#">Terms &amp; Conditions</a></span>
                </label>
            </div>
             /.checkbox
        </div>*@
                <!-- /.form-group -->
                <div class="form-group text-center no-gutters mb-4">
                    <button class="btn btn-block btn-lg btn-primary text-uppercase fs-12 fw-600" type="submit">Sign Up</button>
                </div>
                @*<hr class="mb-4">
        <div class="row btn-list">
            <div class="col-md-6">
                <button type="button" class="btn btn-block btn-facebook ripple" data-toggle="tooltip" data-placement="top" title="Login with Facebook"><i class="social-icons list-icon">facebook</i> facebook</button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-block btn-googleplus ripple" data-toggle="tooltip" data-placement="top" title="Login with Google"><i class="social-icons list-icon">googleplus</i> google</button>
            </div>
        </div>*@
                <!-- /.btn-list -->
            </form>
            <!-- /.form-horzontal -->
            <footer class="col-sm-12 text-center">
                <hr>
                <p>
                    Already have an account? <a href="@Url.Action("Login","Auth")" class="text-primary m-l-5"><b>Log In</b></a>
                </p>
            </footer>
        </div>
        <!-- /.login-center -->
    </div>
    <!-- /.body-container -->
    <!-- Scripts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/material-design.js"></script>
</body>

</html>