﻿
@{
    ViewBag.Title = "AddAvailability";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- /.site-sidebar -->
<main class="main-wrapper clearfix">
    <!-- Page Title Area -->
    @*<div class="row page-title clearfix">
            <div class="page-title-left">
                <h6 class="page-title-heading mr-0 mr-r-5">Dashboard</h6>
                <p class="page-title-description mr-0 d-none d-md-inline-block">statistics, charts and events</p>
            </div>
            <!-- /.page-title-left -->
            <div class="page-title-right d-none d-sm-inline-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">Home</li>
                </ol>
            </div>
            <!-- /.page-title-right -->
        </div>*@
    <!-- /.page-title -->
    <!-- =================================== -->
    <!-- Different data widgets ============ -->
    <!-- =================================== -->
    <div class="container text-center">
        <h2 class="title text-center text-muted">When Am I Available?</h2>

        <div class="row">

            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">
                        <h5 class="box-title mr-t-50">Availability</h5>
                        @if (ViewBag.error != null)
                        {
                            <p class="alert alert-danger">@ViewBag.error</p>
                        }
                        @if (ViewBag.message != null)
                        {
                            <p class="alert alert-success">@ViewBag.message</p>
                        }
                        <form class="mr-b-30" action="@Url.Action("PostAvailability","Home")" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="float-left">Date</label>
                                        <input class="form-control" type="date" name="AvailabilityDate" placeholder="pick date and time" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="float-left">Time</label>
                                        <input class="form-control" type="time" name="AvailabilityTime" placeholder="pick date and time" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control" name="MeetLocation" placeholder="Where do you want to meet?" type="text" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control" name="JustDinner" placeholder="Are just haning dinner?" type="text" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control" name="GetHome" placeholder="How are you getting home?" type="text" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="btn btn-success btn-block" value="Add Availability" placeholder="How are you getting home?" type="submit">
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

