﻿@using Buyherdinner.Helping_Classes
@using Buyherdinner.BL
@using Buyherdinner.Models
@{
    ViewBag.Title = "AddProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SessionDTO sdt = new SessionDTO();
    int Id = sdt.getId();
    User user = new UserBL().getUserById(Id);
}
<style>
    #upload {
        display: none;
        cursor: pointer !important;
    }
</style>
<!-- /.site-sidebar -->
<main class="main-wrapper clearfix">
    <!-- Page Title Area -->
    @*<div class="row page-title clearfix">
            <div class="page-title-left">
                <h6 class="page-title-heading mr-0 mr-r-5">Dashboard</h6>
                <p class="page-title-description mr-0 d-none d-md-inline-block">statistics, charts and events</p>
            </div>
            <!-- /.page-title-left -->
            <div class="page-title-right d-none d-sm-inline-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">Home</li>
                </ol>
            </div>
            <!-- /.page-title-right -->
        </div>*@
    <!-- /.page-title -->
    <!-- =================================== -->
    <!-- Different data widgets ============ -->
    <!-- =================================== -->
    <div class="container text-center">
        <h2 class="title text-center text-muted">my profile</h2>

        <div class="row">

            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        <h5 class="box-title mr-t-50">Profile</h5>
                        @if (ViewBag.error != null)
                        {
                            <p class="alert alert-danger">@ViewBag.error</p>
                        }
                        @if (ViewBag.message != null)
                        {
                            <p class="alert alert-success">@ViewBag.message</p>
                        }
                        <form class="mr-b-30" action="@Url.Action("UpdateUser","Home")" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="text-center">
                                            @if (user.Image != null)
                                            {
                                                <label for="upload"><img src=@Url.Content(user.Image) alt="avatar" id="blah" height="200" width="200"></label>

                                            }
                                            else
                                            {
                                                <label for="upload"><img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" class="avatar img-circle img-thumbnail" alt="avatar" id="blah" height="200" width="200"></label>

                                            }
                                            <input id="upload" type="file" name="Image" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <input type="hidden" name="Id" value="@user.Id" />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="float-left">First Name</label>
                                                <input class="form-control" name="FirstName" type="text" value="@user.FirstName" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="float-left">Last Name</label>
                                                <input class="form-control" name="LastName" value="@user.LastName" type="text" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label class="float-left">Date of birth</label>
                                                <input class="form-control" name="DOB" type="date" value="@user.DOB.ToString("yyyy-MM-dd")" required>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <label class="float-left">Current location</label>
                                                <input class="form-control" name="Address" placeholder="Enter your address" type="text" value="@user.Address" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="float-left">Favorite cuisine</label>
                                                <input class="form-control" name="FavouriteCusine" placeholder="Enter your favorite cuisine" value="@user.FavouriteCusine" type="text" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="float-left">Gender</label>
                                                <select class="form-control" name="Gender">
                                                    <option value="" disabled selected>Select your gender</option>
                                                    @if (user.Gender == "Male")
                                                    {
                                                        <option value="Male" selected>Male</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="Male">Male</option>
                                                    }
                                                    @if (user.Gender == "Female")
                                                    {
                                                        <option value="Female" selected>Female</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="Female">Female</option>
                                                    }
                                                    @if (user.Gender == "Other")
                                                    {
                                                        <option value="Other" selected>Other</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="Other">Other</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="float-left">Instagram</label>
                                        <input class="form-control" name="instaUrl" placeholder="Enter instagram profile link" value="@user.instaUrl" type="text" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="float-left">Twitter</label>
                                        <input class="form-control" name="TwitterUrl" placeholder="Enter twitter profile link" value="@user.TwitterUrl" type="text" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="float-left">Description</label>
                                        <textarea class="form-control" name="describe" placeholder="Write something about yourself">@user.Describe</textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">

                                        <input class="btn btn-success btn-block" value="Add Profile" placeholder="How are you getting home?" type="submit">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- /.main-wrappper -->
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    //$(document).ready(function () {
    //    $("#upload").change(function () {
    //            var reader = new FileReader();

    //            reader.onload = function (e) {
    //                $('#blah')
    //                    .attr('src', e.target.result);
    //            };

    //            reader.readAsDataURL(input.files[0]);

    //    })
    //});
    $(function () {
        $(":file").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = imageIsLoaded;
                reader.readAsDataURL(this.files[0]);
            }
        });
    });

    function imageIsLoaded(e) {
        $('#blah').attr('src', e.target.result);
    };
</script>
