﻿@model List<Buyherdinner.Models.Availability>
@using Buyherdinner.Models
@using Buyherdinner.BL
@{
    ViewBag.Title = "AvailabilityList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #ex3 .fa-stack[data-count]:after {
        position: absolute;
        right: 0%;
        top: 1%;
        content: attr(data-count);
        font-size: 30%;
        padding: .6em;
        border-radius: 50%;
        line-height: .8em;
        color: white;
        background: rgba(255,0,0,.85);
        text-align: center;
        min-width: 1.1em;
        font-weight: bold;
    }
</style>
<main class="main-wrapper clearfix">
    <!-- Page Title Area -->
    <!-- Different data widgets ============ -->
    <!-- =================================== -->
    <div class="container text-center">
        <h2 class="title text-center text-muted">Schedule</h2>

        <div class="row">

            <div class="container">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">
                        <h5 class="box-title mr-t-50">Schedule</h5>
                        <div class="text-center">
                            <a class="btn btn-success" href="@Url.Action("AddAvailability","Home")"><i class="fa fa-plus"></i> Add A Dinner</a>
                        </div>
                        @if (ViewBag.error != null)
                        {
                            <p class="alert alert-danger">@ViewBag.error</p>
                        }
                        @if (ViewBag.message != null)
                        {
                            <p class="alert alert-success">@ViewBag.message</p>
                        }
                        <table>
                            <tbody>
                                @foreach (Availability item in Model)
                                {

                                    int count = new NotificationBL().getNotificationList().Where(x => x.Availability_Id == item.Id).Count();
                                    <tr style="text-align:left;">
                                        <td>
                                            <a href="@Url.Action("Notifications","Home",new { Id=item.Id})">
                                                <div id="ex3">
                                                    <span class="p1 fa-stack fa-5x has-badge" data-count="@count">
                                                        <i class="p2 fa fa-circle fa-stack-2x"></i>
                                                        <i class="p3 fa fa-bell fa-stack-1x fa-inverse" data-count="5"></i>
                                                    </span>
                                                </div>
                                            </a>
                                        </td>
                                        <td>
                                            <h1>
                                                @item.MeetLocation, @item.JustDinner, @item.GetHome
                                            </h1><span>
                                                <i class="feather feather-calendar"></i> @item.AvailabilityTime.Value.ToShortDateString() &nbsp;&nbsp; <i class="feather feather-clock"></i> @item.AvailabilityTime.Value.ToShortTimeString()  &nbsp;&nbsp;

                                            </span><br />
                                            <a href="@Url.Action("EditAvailability","Home",new { Id=item.Id})" class="btn btn-success"><i class="feather feather-edit"></i> Edit</a>
                                            <a href="#deleteModal" data-toggle="modal" data-target="#deleteModal" onclick="deleteDinner('@item.Id')" class="btn btn-danger"><i class="feather feather-x"></i> Delete</a>

                                        </td>
                                        <br />
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="deleteModal" class="modal modal-danger fade bs-modal-md show" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <form action="@Url.Action("DeleteAvailability","Home")" method="post">
                    <div class="modal-header text-inverse">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h5 class="modal-title" id="myMediumModalLabel">Delete Availability</h5>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="Id" value="" id="userId" />
                        <p>Do you really want to delete this?</p>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-info btn-rounded ripple text-left" value="Delete" />
                        <button type="button" class="btn btn-danger btn-rounded ripple text-left" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</main>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    function deleteDinner(Id) {
        $('#userId').val(Id);
    }
</script>

