﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .fa {
        font-size: 60px !important;
    }
</style>
<!-- /.site-sidebar -->
<main class="main-wrapper clearfix">
    <!-- Page Title Area -->
    @*<div class="row page-title clearfix">
            <div class="page-title-left">
                <h6 class="page-title-heading mr-0 mr-r-5">Dashboard</h6>
                <p class="page-title-description mr-0 d-none d-md-inline-block">statistics, charts and events</p>
            </div>
            <!-- /.page-title-left -->
            <div class="page-title-right d-none d-sm-inline-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">Home</li>
                </ol>
            </div>
            <!-- /.page-title-right -->
        </div>*@
    <!-- /.page-title -->
    <!-- =================================== -->
    <!-- Different data widgets ============ -->
    <!-- =================================== -->
    <div class="container text-center">
        <h4 class="text-center title text-muted">Dashboard</h4>
        <br />
        <button class="btn-square btn-green" onclick="location.href='@Url.Action("AddAvailability","Home")';"><i class="fa feather feather-plus"></i><br /><br /><i class="btn-text">add an availability</i></button>
        <button class="btn-square btn-grey" onclick="location.href='@Url.Action("AddProfile","Home")';"><i class="fa feather feather-user"></i><br /><br /><i class="btn-text">my profile</i></button>
        <button class="btn-square btn-grey" onclick="location.href='@Url.Action("AvailabilityList","Home")';"><i class="fa feather feather-calendar"></i><br /><br /><i class="btn-text">my schedule</i></button><br>
        <button class="btn-square btn-grey" onclick="location.href='@Url.Action("ListReview","Home")';"><i class="fa feather feather-message-square"></i><br /><br /><i class="btn-text">my reviews</i></button>
        <button class="btn-square btn-grey" onclick="location.href='@Url.Action("History","Home")';"><i class="fa feather feather-file"></i><br /><br /><i class="btn-text">my history</i></button>
        <button class="btn-square btn-grey" onclick="location.href='@Url.Action("UpcommingDinners","Home")';"><i class="fa feather feather-package"></i><br /><br /><i class="btn-text">Available Dinners</i></button>
    </div>
</main>
<!-- /.main-wrappper -->
