﻿@model List<Buyherdinner.Models.Availability>
@using Buyherdinner.Models
@using Buyherdinner.BL
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .btnrating{
        width:25px;
        height:25px;
    }
    .btn-lg {
        min-width: 2.75rem !important;
    }
</style>
<main class="main-wrapper clearfix">
    <!-- Page Title Area -->
    <!-- Different data widgets ============ -->
    <!-- =================================== -->
    <div class="container text-center">
        <h2 class="title text-center text-muted">History</h2>

        <div class="row">

            <div class="container">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">
                        <h5 class="box-title mr-t-50">History</h5>

                        @if (ViewBag.error != null)
                        {
                            <p class="alert alert-danger">@ViewBag.error</p>
                        }
                        @if (ViewBag.message != null)
                        {
                            <p class="alert alert-success">@ViewBag.message</p>
                        }
                        <table>
                            <tbody>
                                @foreach (Availability item in Model)
                                {

                                    Notification noti = new NotificationBL().getNotificationList().FirstOrDefault(x => x.Availability_Id == item.Id);
                                    User from = new UserBL().getUserById(noti.User_Id);
                                    User to = new UserBL().getUserById(item.User_Id);
                                    <tr style="text-align:left;">
                                        <td>
                                            <div style="padding:10px;">
                                                <img src="@Url.Content(to.Image)" style="width:150px; height:150px; border-radius:75px;" />
                                            </div>
                                        </td>
                                        <td>
                                            <h1>
                                                @to.FirstName @to.LastName @@ @from.FirstName @from.LastName
                                            </h1><span>
                                                <i class="feather feather-calendar"></i> @item.AvailabilityTime.Value.ToShortDateString() &nbsp;&nbsp; <i class="feather feather-clock"></i> @item.AvailabilityTime.Value.ToShortTimeString()  &nbsp;&nbsp;

                                            </span><br />
                                            @*<a href="#" class="btn btn-success"><i class="feather feather-edit"></i> Edit</a>
                                                <a href="#" class="btn btn-danger"><i class="feather feather-x"></i> Delete</a>*@
                                            <p><a href="#ReviewModal" data-toggle="modal" data-target="#ReviewModal" onclick="review('@to.Id','@from.Id')">Review to @from.FirstName @from.LastName</a></p>
                                        </td>
                                        <br />
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div  id="ReviewModal" class="modal modal-danger fade bs-modal-md show"  role="dialog" >
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <form action="@Url.Action("PostReview","Home")" method="post">
                    <div class="modal-header text-inverse">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h5 class="modal-title" id="myMediumModalLabel">Review</h5>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="User_Id" value="" id="userId" />
                        <input type="hidden" name="ToUser_Id" value="" id="touserId" />
                        <div class="form-group" id="rating-ability-wrapper">
                            <label class="control-label" for="rating">
                                <span class="field-label-header">How would you rate your dinner?*</span><br>
                                <span class="field-label-info"></span>
                                <input type="hidden" id="selected_rating" name="Rating" value="0" required="required">
                            </label>
                            <h2 class="bold rating-header" style="">
                                <span class="selected-rating">0</span><small> / 5</small>
                            </h2>
                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="1" id="rating-star-1">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="2" id="rating-star-2">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="3" id="rating-star-3">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="4" id="rating-star-4">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="5" id="rating-star-5">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Write your review</label>
                            <textarea class="form-control" name="Description"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-info btn-rounded ripple text-left" value="Post Review"/>
                        <button type="button" class="btn btn-danger btn-rounded ripple text-left" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</main>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    function review(Id, toId) {
        $('#userId').val(Id);
        $('#ToUser_Id').val(toId);
    }
    jQuery(document).ready(function ($) {

        $(".btnrating").on('click', (function (e) {

            var previous_value = $("#selected_rating").val();

            var selected_value = $(this).attr("data-attr");
            $("#selected_rating").val(selected_value);

            $(".selected-rating").empty();
            $(".selected-rating").html(selected_value);

            for (i = 1; i <= selected_value; ++i) {
                $("#rating-star-" + i).toggleClass('btn-warning');
                $("#rating-star-" + i).toggleClass('btn-default');
            }

            for (ix = 1; ix <= previous_value; ++ix) {
                $("#rating-star-" + ix).toggleClass('btn-warning');
                $("#rating-star-" + ix).toggleClass('btn-default');
            }

        }));


    });
</script>
