﻿@model List<Buyherdinner.Models.Review>
@using Buyherdinner.Models
@using Buyherdinner.BL
@{
    ViewBag.Title = "ListReview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main-wrapper clearfix">
    <!-- Page Title Area -->
    <!-- Different data widgets ============ -->
    <!-- =================================== -->
    <div class="container text-center">
        <h2 class="title text-center text-muted">My Reviews</h2>

        <div class="row">

            <div class="container">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">
                        <h5 class="box-title mr-t-50">Reviews</h5>

                        @if (ViewBag.error != null)
                        {
                            <p class="alert alert-danger">@ViewBag.error</p>
                        }
                        @if (ViewBag.message != null)
                        {
                            <p class="alert alert-success">@ViewBag.message</p>
                        }
                        <table>
                            <tbody>
                                @foreach (Review item in Model)
                                {


                                    User from = new UserBL().getUserById(item.User_Id);
                                    User to = new UserBL().getUserById(item.User_Id);
                                    <tr style="text-align:left;">
                                        <td>
                                            <div style="padding:10px;">
                                                    <img src="@Url.Content(to.Image)" style="width:150px; height:150px; border-radius:75px;" />
                                                </div>
                                        </td>
                                        <td>

                                            <h1>
                                                @to.FirstName @to.LastName @@ @from.FirstName @from.LastName
                                            </h1><span>
                                                <i class="feather feather-calendar"></i> @item.ReviewDate.ToShortDateString() &nbsp;&nbsp; <i class="feather feather-clock"></i> 

                                            </span><br />@*<a href="#" class="btn btn-success"><i class="feather feather-edit"></i> Edit</a>
        <a href="#" class="btn btn-danger"><i class="feather feather-x"></i> Delete</a>*@
                                            @if (item.Rating == 5)
    {
                                        <p>
                                            <span class="fa fa-star fa-2x text-success"></span>
                                            <span class="fa fa-star fa-2x text-success"></span>
                                            <span class="fa fa-star fa-2x text-success"></span>
                                            <span class="fa fa-star fa-2x text-success"></span>
                                            <span class="fa fa-star fa-2x text-success"></span>
                                        </p>
}
else if (item.Rating == 4)
{
                                        <p>
                                            <span class="fa fa-star fa-2x text-success"></span>
                                            <span class="fa fa-star fa-2x text-success"></span>
                                            <span class="fa fa-star fa-2x text-success"></span>
                                            <span class="fa fa-star fa-2x text-success"></span>
                                            <span class="fa fa-star fa-2x"></span>
                                        </p>
}
else if (item.Rating == 4)
{
                                        <p>
                                            <span class="fa fa-star fa-2x text-success"></span>
                                            <span class="fa fa-star fa-2x text-success"></span>
                                            <span class="fa fa-star fa-2x text-success"></span>
                                            <span class="fa fa-star fa-2x text-success"></span>
                                            <span class="fa fa-star fa-2x"></span>
                                        </p>
}
else if (item.Rating == 3)
{
                                        <p>
                                            <span class="fa fa-star fa-2x text-success"></span>
                                            <span class="fa fa-star fa-2x text-success"></span>
                                            <span class="fa fa-star fa-2x text-success"></span>
                                            <span class="fa fa-star fa-2x"></span>
                                            <span class="fa fa-star fa-2x"></span>
                                        </p>
}
else if (item.Rating == 2)
{
                                        <p>
                                            <span class="fa fa-star fa-2x text-success"></span>
                                            <span class="fa fa-star fa-2x text-success"></span>
                                            <span class="fa fa-star fa-2x"></span>
                                            <span class="fa fa-star fa-2x"></span>
                                            <span class="fa fa-star fa-2x"></span>
                                        </p>
}
else if (item.Rating == 1)
{
                                        <p>
                                            <span class="fa fa-star fa-2x text-danger"></span>
                                            <span class="fa fa-star fa-2x"></span>
                                            <span class="fa fa-star fa-2x"></span>
                                            <span class="fa fa-star fa-2x"></span>
                                            <span class="fa fa-star fa-2x"></span>
                                        </p>
}
else
{
                                        <p>
                                            <span class="fa fa-star fa-2x"></span>
                                            <span class="fa fa-star fa-2x"></span>
                                            <span class="fa fa-star fa-2x"></span>
                                            <span class="fa fa-star fa-2x"></span>
                                            <span class="fa fa-star fa-2x"></span>
                                        </p>
}
<p>@item.Description</p>
                                        </td>
                                        <br />
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

