﻿@model List<Buyherdinner.Models.Notification>
@using Buyherdinner.Models
@using Buyherdinner.BL
@{
    ViewBag.Title = "Notifications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main-wrapper clearfix">
    <!-- Page Title Area -->
    <!-- Different data widgets ============ -->
    <!-- =================================== -->
    <div class="container text-center">
        <h2 class="title text-center text-muted">Notifications</h2>

        <div class="row">

            <div class="container">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">

                        <h5 class="box-title mr-t-50">Notifications</h5>
                        @*<div class="text-center">
                                <a class="btn btn-success" href="@Url.Action("AddAvailability","Home")"><i class="fa fa-plus"></i> Add A Dinner</a>
                            </div>*@
                        @if (ViewBag.error != null)
                        {
                            <p class="alert alert-danger">@ViewBag.error</p>
                        }
                        @if (ViewBag.message != null)
                        {
                            <p class="alert alert-success">@ViewBag.message</p>
                        }


                        @*<div class="widget-list row">
                            <div class="widget-holder widget-outside-header col-md-12">
                                <div class="widget-heading">
                                    <h5 class="widget-title"><i class="material-icons mr-2">error_outline</i> Activity</h5>
                                    <div class="widget-actions">
                                        <div class="predefinedRanges badge badge-pill bg-success px-3 cursor-pointer heading-font-family" data-plugin-options="{

	                 &quot;locale&quot;: {

		                 &quot;format&quot;: &quot;MMM YYYY&quot;

	                 }

                 }">
                                            <span>Dec 2018 - Jan 2019</span>  <i class="feather feather-chevron-down ml-1"></i>
                                        </div>
                                    </div>
                                    <!-- /.widget-actions -->
                                </div>
                                <!-- /.widget-heading -->
                                <div class="widget-bg">
                                    <div class="widget-body pb-0">
                                        <a class="btn btn-block color-primary fw-bold fs-12 lh-39 py-0">See all activities ...</a>
                                        <hr class="widget-seperator m-0">
                                        <div class="widget-user-activities-2 fs-13">
                                            <div class="single">
                                                <a href="#" class="btn btn-xs btn-rounded btn-pink text-uppercase fw-bold fs-11 px-3 mx-2">Invitation</a>
                                                <h5 class="single-title mx-2"><a href="#" class="headings-color">You've been invited to <strong>30s Hikers Meetup</strong></a></h5><small class="headings-font-family text-muted mx-2">today</small>
                                            </div>
                                            <!-- /.single -->
                                            <div class="single">
                                                <a href="#" class="btn btn-xs btn-rounded btn-pink text-uppercase fw-bold fs-11 px-3 mx-2">Message</a>
                                                <figure class="thumb-xxs mr-b-0 mx-2">
                                                    <a href="#">
                                                        <img src="assets/demo/users/user2.jpg" class="rounded-circle" alt="User 1">
                                                    </a>
                                                </figure>
                                                <h5 class="single-title mx-2"><a href="#" class="headings-color"><strong>Steve Smith</strong> sent a message</a></h5><small class="headings-font-family text-muted mx-2">2 days ago</small>
                                            </div>
                                            <!-- /.single -->
                                            <div class="single">
                                                <a href="#" class="btn btn-xs btn-rounded btn-teal text-uppercase fw-bold fs-11 px-3 mx-2">To Do</a>
                                                <h5 class="single-title mx-2"><a href="#" class="headings-color">Meeting with Nathan on Thursday</a></h5><small class="headings-font-family text-muted mx-2">3 days ago</small>
                                            </div>
                                            <!-- /.single -->
                                            <div class="single">
                                                <a href="#" class="btn btn-xs btn-rounded btn-info text-uppercase fw-bold fs-11 px-3 mx-2">Reminder</a>
                                                <div class="user-avatar-list">
                                                    <a href="#" class="thumb-xxs">
                                                        <img src="assets/demo/users/user4.jpg" class="rounded-circle" alt="User 4">
                                                    </a>
                                                    <a href="#" class="thumb-xxs">
                                                        <img src="assets/demo/users/user3.jpg" class="rounded-circle" alt="User 3">
                                                    </a>
                                                    <a href="#" class="thumb-xxs">
                                                        <img src="assets/demo/users/user2.jpg" class="rounded-circle" alt="User 2">
                                                    </a>
                                                </div>
                                                <h5 class="single-title mx-2"><a href="#" class="headings-color"><strong>WordCamp</strong> Meeting, Illinois</a></h5><small class="headings-font-family text-muted mx-2">4 days ago</small>
                                            </div>
                                            <!-- /.single -->
                                            <div class="single">
                                                <a href="#" class="btn btn-xs btn-rounded btn-pink text-uppercase fw-bold fs-11 px-3 mx-2">Message</a>
                                                <figure class="thumb-xxs mr-b-0 mx-2">
                                                    <a href="#">
                                                        <img src="assets/demo/users/user6.jpg" class="rounded-circle" alt="User 1">
                                                    </a>
                                                </figure>
                                                <h5 class="single-title mx-2"><a href="#" class="headings-color"><strong>Marsha Hoffman</strong> sent a message</a></h5><small class="headings-font-family text-muted mx-2">5 days ago</small>
                                            </div>
                                            <!-- /.single -->
                                            <div class="single">
                                                <a href="#" class="btn btn-xs btn-rounded btn-success text-uppercase fw-bold fs-11 px-3 mx-2">Files</a>
                                                <h5 class="single-title flex-none mx-2">File Uploaded:</h5>
                                                <figure class="thumb-xxs mr-b-0 mx-2">
                                                    <a href="#">
                                                        <img src="assets/demo/blog-post-1-thumb.jpg" class="rounded-circle" alt="User 1">
                                                    </a>
                                                </figure>
                                                <h5 class="single-title mx-2"><a href="#" class="headings-color"><strong>force.gif</strong> <span class="mx-1 text-muted">(128KB)</span></a></h5><small class="headings-font-family text-muted mx-2">5 days ago</small>
                                            </div>
                                            <!-- /.single -->
                                        </div>
                                        <!-- /.widget-user-activities -->
                                    </div>
                                    <!-- /.widget-body -->
                                </div>
                                <!-- /.widget-bg -->
                            </div>
                            <!-- /.widget-holder -->
                            <div class="widget-holder widget-outside-header">
                                <div class="widget-heading">
                                    <h5 class="widget-title"><i class="material-icons mr-2">error_outline</i> Invoices</h5>
                                    <div class="widget-actions">
                                        <div class="predefinedRanges badge badge-pill bg-success px-3 cursor-pointer heading-font-family" data-plugin-options="{

	                 &quot;locale&quot;: {

		                 &quot;format&quot;: &quot;MMM YYYY&quot;

	                 }

                 }">
                                            <span>Dec 2018 - Jan 2019</span>  <i class="feather feather-chevron-down ml-1"></i>
                                        </div>
                                    </div>
                                    <!-- /.widget-actions -->
                                </div>
                                <!-- /.widget-heading -->
                                <div class="widget-bg">
                                    <div class="widget-body pb-0">
                                        <table class="widget-invoice-table table mb-0 headings-font-family fs-13" valign="center">
                                            <thead class="lh-43 fs-12">
                                                <tr>
                                                    <th># Invoice</th>
                                                    <th class="w-30">Client</th>
                                                    <th>Date</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <span class="headings-color"># 250,875</span>
                                                    </td>
                                                    <td class="w-25">
                                                        <span class="headings-color fw-bold">Gene Newman</span>
                                                    </td>
                                                    <td>
                                                        <span class="text-muted">15/04/2018</span>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex">
                                                            <a href="#" class="btn btn-xs px-3 mr-3 fw-900 fs-9 text-uppercase btn-outline-success flex-1 justify-content-center">Paid</a>  <a href="#" class="btn btn-xs px-0 content-color flex-2"><i class="fa fa-chevron-right"></i></a>
                                                        </div>
                                                        <!-- /.d-flex -->
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="headings-color"># 875,250</span>
                                                    </td>
                                                    <td class="w-25">
                                                        <span class="headings-color fw-bold">Billy Black</span>
                                                    </td>
                                                    <td>
                                                        <span class="text-muted">14/04/2018</span>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex">
                                                            <a href="#" class="btn btn-xs px-3 mr-3 fw-900 fs-9 text-uppercase btn-outline-success flex-1 justify-content-center">Paid</a>  <a href="#" class="btn btn-xs px-0 content-color flex-2"><i class="fa fa-chevron-right"></i></a>
                                                        </div>
                                                        <!-- /.d-flex -->
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="headings-color"># 520,758</span>
                                                    </td>
                                                    <td class="w-25">
                                                        <span class="headings-color fw-bold">Herbert Diaz</span>
                                                    </td>
                                                    <td>
                                                        <span class="text-muted">13/04/2018</span>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex">
                                                            <a href="#" class="btn btn-xs px-3 mr-3 fw-900 fs-9 text-uppercase btn-outline-danger justify-content-center flex-1">Overdue</a>  <a href="#" class="btn btn-xs px-0 content-color flex-2"><i class="fa fa-chevron-right"></i></a>
                                                        </div>
                                                        <!-- /.d-flex -->
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="headings-color"># 758,520</span>
                                                    </td>
                                                    <td class="w-25">
                                                        <span class="headings-color fw-bold">Sylvia Harvey</span>
                                                    </td>
                                                    <td>
                                                        <span class="text-muted">12/04/2018</span>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex">
                                                            <a href="#" class="btn btn-xs px-3 mr-3 fw-900 fs-9 text-uppercase btn-outline-success justify-content-center flex-1">Paid</a>  <a href="#" class="btn btn-xs px-0 content-color flex-2"><i class="fa fa-chevron-right"></i></a>
                                                        </div>
                                                        <!-- /.d-flex -->
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="headings-color"># 250,875</span>
                                                    </td>
                                                    <td class="w-25">
                                                        <span class="headings-color fw-bold">Marsha Hoffman</span>
                                                    </td>
                                                    <td>
                                                        <span class="text-muted">11/04/2018</span>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex">
                                                            <a href="#" class="btn btn-xs px-3 mr-3 fw-900 fs-9 text-uppercase btn-outline-info justify-content-center flex-1">On Hold</a>  <a href="#" class="btn btn-xs px-0 content-color flex-2"><i class="fa fa-chevron-right"></i></a>
                                                        </div>
                                                        <!-- /.d-flex -->
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="headings-color"># 875,250</span>
                                                    </td>
                                                    <td class="w-25">
                                                        <span class="headings-color fw-bold">Mason Grant</span>
                                                    </td>
                                                    <td>
                                                        <span class="text-muted">10/04/2018</span>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex">
                                                            <a href="#" class="btn btn-xs px-3 mr-3 fw-900 fs-9 text-uppercase btn-outline-info justify-content-center flex-1">On Hold</a>  <a href="#" class="btn btn-xs px-0 content-color flex-2"><i class="fa fa-chevron-right"></i></a>
                                                        </div>
                                                        <!-- /.d-flex -->
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.widget-body -->
                                </div>
                                <!-- /.widget-bg -->
                            </div>
                            <!-- /.widget-holder -->
                        </div>*@

                        <table>
                            <tbody>
                                @foreach (Notification item in Model)
                                {

                                    User obj = new UserBL().getUserById(item.User_Id);
                                    <tr style="text-align:left;">
                                        <td>
                                                <div style="padding:10px;">
                                                    <img src="@Url.Content(obj.Image)" style="width:150px; height:150px; border-radius:75px;" />
                                                </div>
                                        </td>
                                        <td>
                                            <h1>
                                                @obj.FirstName's BUDGET IS <b>$@item.Budget</b>
                                            </h1>
                                            <h2>Message:</h2>
                                            <p>
                                                @item.Message
                                            </p>
                                            <br />
                                            <a href="@Url.Action("AcceptOffer","Home",new { notId=item.Id,AvailId=item.Availability_Id})" class="btn btn-outline-success"><i class="feather feather-thumbs-up"></i> Accept</a>
                                            <a href="@Url.Action("RejectOffer","Home",new { notId=item.Id,AvailId=item.Availability_Id})" class="btn btn-outline-danger"><i class="feather feather-thumbs-down"></i> Reject</a>

                                        </td>
                                        <br />
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

