﻿@model List<Buyherdinner.Models.Availability>
@using Buyherdinner.Models
@using Buyherdinner.BL
@{
    ViewBag.Title = "SendOffer";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int UserId = ViewBag.userId;
    int AvailabilityId = ViewBag.availId;
    Availability item = new AvailabilityBL().getAvailabilityList().FirstOrDefault(x => x.Id == AvailabilityId);
    User touser = new UserBL().getUserById(item.User_Id);
}
<style>
    #map {
        width: 100%;
        height:400px;
    }
</style>

<main class="main-wrapper clearfix">
    <!-- Page Title Area -->
    @*<div class="row page-title clearfix">
            <div class="page-title-left">
                <h6 class="page-title-heading mr-0 mr-r-5">Dashboard</h6>
                <p class="page-title-description mr-0 d-none d-md-inline-block">statistics, charts and events</p>
            </div>
            <!-- /.page-title-left -->
            <div class="page-title-right d-none d-sm-inline-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">Home</li>
                </ol>
            </div>
            <!-- /.page-title-right -->
        </div>*@
    <!-- /.page-title -->
    <!-- =================================== -->
    <!-- Different data widgets ============ -->
    <!-- =================================== -->
    <div class="container text-center">
        <h2 class="title text-center text-muted">Offer Dinner</h2>

        <div class="row">

            <div class="container">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">
                        <h5 class="box-title mr-t-50">Dinner</h5>

                        @if (ViewBag.error != null)
                        {
                            <p class="alert alert-danger">@ViewBag.error</p>
                        }
                        @if (ViewBag.message != null)
                        {
                            <p class="alert alert-success">@ViewBag.message</p>
                        }
                        <table>
                            <tbody>


                                <tr style="text-align:left;">
                                    <td><img src="@Url.Content(touser.Image)" style="border-radius:50px;" width="100" height="100" /></td>
                                    <td>
                                        <h1>
                                            @touser.FirstName @touser.LastName, @item.AvailabilityDate.Value.ToShortDateString(), @item.AvailabilityTime.Value.ToShortTimeString()
                                        </h1>@*<span>
                                                <i class="feather feather-calendar"></i> @item.AvailabilityTime.Value.ToShortDateString() &nbsp;&nbsp; <i class="feather feather-clock"></i> @item.AvailabilityTime.Value.ToShortTimeString()  &nbsp;&nbsp;
                                                <a href="@Url.Action("AddRestaurant", "Home", new { Id = 1 })"><i class="feather feather-map-pin"></i> Add Restaurant...</a>
                                            </span><br />
                                            <a href="#" class="btn btn-success"><i class="feather feather-edit"></i> Edit</a>*@
                                        @*<a href="@Url.Action("SendOffer","Home",new { availId=item.Id,userId=item.User.Id})" class="btn btn-success"><i class="feather feather-arrow-down-right></i> Offer Dinner</a>*@

                                    </td>
                                    <br />
                                </tr>

                            </tbody>
                        </table>
                        <br />
                        <h2 class="title text-center text-muted">Describe your offer</h2>
                        <form class="mr-b-30" action="@Url.Action("PostOffer","Home")" method="post">
                            <input name="Availability_Id" value="@item.Id" type="hidden"/>
                            <input name="ToUser_Id" value="@item.User_Id" type="hidden"/>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="float-left">Restaurant Name</label>
                                        <input id="pac-input" class="form-control controls" name="RestaurantName" type="text" placeholder="Search restaurant" required>
                                        <div id="map"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="float-left">Dinner Budget($)</label>

                                        <input class="form-control" name="Budget" placeholder="Enter your budget" type="number" min="1" step="0.01" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="float-left">Write message</label>
                                        <textarea class="form-control" name="Message" placeholder="Message" cols="40"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="btn btn-success btn-block" value="Send Offer" placeholder="How are you getting home?" type="submit">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    // This example adds a search box to a map, using the Google Place Autocomplete
    // feature. People can enter geographical searches. The search box will return a
    // pick list containing a mix of places and predicted search terms.

    // This example requires the Places library. Include the libraries=places
    // parameter when you first load the API. For example:
    //<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxyLEJJGch9D_R3M1KcyHbvOPW9E8CeVU&libraries=places">

    function initAutocomplete() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: -33.8688, lng: 151.2195 },
            zoom: 13,
            mapTypeId: 'roadmap'
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function () {
            searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function () {
            var places = searchBox.getPlaces();

            if (places.length == 0) {
                return;
            }

            // Clear out the old markers.
            markers.forEach(function (marker) {
                marker.setMap(null);
            });
            markers = [];

            // For each place, get the icon, name and location.
            var bounds = new google.maps.LatLngBounds();
            places.forEach(function (place) {
                if (!place.geometry) {
                    console.log("Returned place contains no geometry");
                    return;
                }
                var icon = {
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25)
                };

                // Create a marker for each place.
                markers.push(new google.maps.Marker({
                    map: map,
                    icon: icon,
                    title: place.name,
                    position: place.geometry.location
                }));

                if (place.geometry.viewport) {
                    // Only geocodes have viewport.
                    bounds.union(place.geometry.viewport);
                } else {
                    bounds.extend(place.geometry.location);
                }
            });
            map.fitBounds(bounds);
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCc3GdMqOPL5WIKADhGju-iYC2Yu6T9Yc&libraries=places&callback=initAutocomplete"
    async defer></script>

