﻿@model List<Buyherdinner.Models.Availability>
@using Buyherdinner.Models
@using Buyherdinner.BL
@{
    ViewBag.Title = "UpcommingDinners";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="main-wrapper clearfix">
    <!-- Page Title Area -->
    @*<div class="row page-title clearfix">
            <div class="page-title-left">
                <h6 class="page-title-heading mr-0 mr-r-5">Dashboard</h6>
                <p class="page-title-description mr-0 d-none d-md-inline-block">statistics, charts and events</p>
            </div>
            <!-- /.page-title-left -->
            <div class="page-title-right d-none d-sm-inline-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">Home</li>
                </ol>
            </div>
            <!-- /.page-title-right -->
        </div>*@
    <!-- /.page-title -->
    <!-- =================================== -->
    <!-- Different data widgets ============ -->
    <!-- =================================== -->
    <div class="container text-center">
        <h2 class="title text-center text-muted">Upcomming Dinners</h2>

        <div class="row">

            <div class="container">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">
                        <h5 class="box-title mr-t-50">Dinners</h5>
                        
                        @*@if (ViewBag.error != null)
                        {
                            <p class="alert alert-danger">@ViewBag.error</p>
                        }
                        @if (ViewBag.message != null)
                        {
                            <p class="alert alert-success">@ViewBag.message</p>
                        }*@
                        <table>
                            <tbody>

                                @foreach (Availability item in Model)
                                {
                                    User user = new UserBL().getUserById(item.User_Id);
                                    <tr style="text-align:left;padding:20px;">
                                        <td><img src="@Url.Content(user.Image)" style="width:150px; height:150px; border-radius:75px;"/></td>
                                        <td>
                                            <h1>
                                                @user.FirstName @user.LastName, @item.AvailabilityDate.Value.ToShortDateString(), @item.AvailabilityTime.Value.ToShortTimeString()
                                            </h1>
                                            <span>
                                                <i class="feather feather-map-pin"></i> @item.MeetLocation &nbsp;&nbsp; <i class="feather feather-activity"></i> @item.JustDinner  &nbsp;&nbsp; <i class="feather feather-home"></i> @item.GetHome  &nbsp;&nbsp;

                                            </span>
                                            <br />
                                            <a href="@Url.Action("SendOffer", "Home", new { availId = item.Id, userId = user.Id })" class="btn btn-success"><i class="feather feather-arrow-right"></i> Offer Dinner</a>

                                        </td>
                                    </tr>
                                }
                                @*}
                                else
                                {
                                    <tr style="text-align:left;">
                                        <td>
                                            <h1>No dinner available for now.</h1>
                                        </td>
                                    </tr>
                                }*@
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


